.services {
    background-image: url(../../assets/images/Services.png);
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 37.5em) {
    .services {
        background-image: url(../../assets/images/Services-mobile.png);
        background-position: center center;
    }
}


.service-title-container {

    &-text {
        color: var(--clr-grayText);
        max-width: 65ch;
        margin-block-start: 1rem;
    }
}

.serviceCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    margin-block-start: 6rem;

    :nth-child(4) {
        background: var(--bg-neutral-200);
        border: 1px solid var(--bg-neutral-400);
    }

    &-card {
        padding: 1.5rem 1rem;
        background: var(--bg-neutral);
        border-radius: 1.25rem 0 1.25rem 0;
        border: 1px solid var(--bg-neutral-300);
        cursor: pointer;

        &:hover {
            box-shadow: 1px 1px 20px var(--bg-neutral-300);
            -webkit-transition:  box-shadow .4s ease-in;
            transition: box-shadow .4s ease-in;
        }

        &-number {
            color: var(--clr-accent);
        }

        &-title {
            margin-block-start: 2rem;
        }

        &-text {
            margin-block-start: 1rem;
            color: var(--clr-grayText);
            font-size: .85rem;
        }
    }
}

@media screen and (max-width: 37.5em) {
    .serviceCards {
        margin-block-start: 4rem;
        gap: 1.5rem;
    }
}