.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100svh;
    background-image: url(../../assets/images/bg-2.png);
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

@media screen and (max-width: 67.5em) {
    .hero {
        background-image: url(../../assets/images/bg-2-mobile.png);
        background-position: center center;
    }
}

.heroContainer {
    
    &-box {
    
       background-color: rgba(18, 26, 31, 0.7);
       padding: 2rem 2rem;
       max-inline-size: 600px;

       &-title {
        margin-block-start: 1rem;
       }

       &-text {
        margin-block-start: 1rem;
        color: var(--clr-grayText);
       }

       &-subtitle {
        color: var(--clr-accent);
       }

       &-buttons {
        margin-block-start: 2rem;

        :nth-child(1) {
            margin-right: 1rem;
        }
       }
    }
}

@media screen and (max-width: 37.5em) {
    .heroContainer-box {
        padding: 1.5rem 1rem;
    }
}