.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100svh;
    background-image: url(../../assets/images/bg.svg);
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
   
}

@media screen and (max-width: 37.5em) {
    .hero {
        background-image: url(../../assets/images/bgSmall.svg);
        background-position: center;
    }
}

.heroContainer {
  
   
    &-box {
    
       background-color: rgba(18, 26, 31, 0.7);
       padding: 1rem 1rem;
       max-inline-size: 500px;

       &-subtitle {}

       &-title {
        margin-block-start: 1rem;
       }

       &-text {
        margin-block-start: 2rem;
       }

       &-buttons {
        margin-block-start: 1rem;

        :nth-child(1) {
            margin-right: 1rem;
        }
       }
    }
}