.bottomfooter {
    background: var(--bg-neutral);
    padding-block: 1.5rem;
   
    &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
    }
}

