.heroVideo {
   width: 100%;
   min-height: 50svh;
   position: relative;
   overflow: hidden;
}

.heroVid {
    width: 100%;
    height: 300px;
    object-fit: cover;
    aspect-ratio: 16/9;
    opacity: .1;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(21, 21, 24, 0.1);
    overflow: hidden;
}