
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
  }

  h1 {
    line-height: 1.1;
    text-transform: uppercase;
    font-family: var(--ff-main);
    font-size: clamp(2.7rem, 2.423364485981309rem + 1.1962616822429903vw, 3.5rem);
  }

  h2 {
    font-size: clamp(2rem, 1.6542056074766354rem + 1.4953271028037385vw, 3rem);
    font-family: var(--ff-main);
    max-width: 20ch;
    line-height: 1.1;
  }

  p {
    font-size: clamp(0.85rem, 0.7981308411214953rem + 0.2242990654205608vw, 1rem);
    line-height: 1.7;
  }

  body {
    overscroll-behavior: none;
    text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -moz-osx-text-rendering: optimizeLegibility;
    line-height: 1.5;
    background-color: var(--bg);
    color: var(--clr-white);
    font-family: var(--ff-medium);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {list-style: none;}
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  span {display:inline-block;}
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .wrapper {
    width: min(100% - 32px, 1440px);
    margin-inline: auto;
  }
  
  section {
    padding-block: 6rem;
  }
  
  @media screen and (min-width: 75em) {
    section, .navbar {
      padding-inline: 6rem;
    }
  }
  
  @media screen and (max-width: 37.5em) {
    section {
      padding-block: 4rem;
    }
  }

  .cta {
    display: inline-block;
    background: var(--clr-accent);
    border-radius: 1.25rem 0 1.25rem 0;
    padding: 0.62rem 1.25rem;
    outline: none;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
  }

  .c2 {
    background: transparent;
    border: 1px solid var(--clr-accent);
    color: var(--clr-white);
  }

  @media screen and (max-width: 37.5em) {
    .cta {
      padding: .42rem 1rem;
  }
  }
  .scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

