@font-face {
    font-family: Montserrat;
    src: url(../src/assets/fonts/MontserratAlternates-ExtraBold.woff2) format("woff2");
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../src/assets/fonts/MontserratAlternates-Medium.woff2) format("woff2");
}


:root {

    --ff-main: Montserrat;
    --ff-medium: Montserrat-Medium;

    --bg: #121A1F;
    --clr-white: #F4f4f4;
    --clr-accent: #83C033;
    --clr-textStroke: #6A6A6A;
    --clr-grayText: #8D8B8B;
}