@font-face {
    font-family: Montserrat;
    src: url(../src/assets/fonts/Montserrat-ExtraBold.woff2) format("woff2");
    font-display: fallback;
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../src/assets/fonts/Montserrat-Medium.woff2) format("woff2");
    font-display: fallback;
}


:root {
    --ff-main: Montserrat;
    --ff-medium: Montserrat-Medium;

    --bg: #121a1f;
    --bg-neutral: #151F25;
    --bg-neutral-200: #1B272F;
    --bg-neutral-300: #1B2831;
    --bg-neutral-400: #293C48;
    --clr-white: #F4f4f4;
    --clr-accent: #83C033;
    --clr-textStroke: #6A6A6A;
    --clr-grayText: #8D8B8B;
}